@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 1vw;
    height: auto;
  }

  ::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    @apply bg-inherit;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full bg-blend-lighten drop-shadow-2xl;
  }
}

body, html {
  min-height: 100vh;
}