@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Texturina";
  src: url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,400;0,12..72,700;1,12..72,400&display=swap');
}

@font-face {
  font-family: "Raleway";
  src: url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
} */

@layer utilities {
  ::-webkit-scrollbar {
    width: 1vw;
    height: auto;
  }

  ::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    @apply bg-inherit;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full bg-blend-lighten drop-shadow-2xl;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  q,
  blockquote{
    @apply font-serif;
  }

  body, html {
    min-height: 100vh;
    @apply font-sans;
  }
}
